version: "3.9"
name: safarticket


services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: safarticket
      MYSQL_ROOT_PASSWORD: Aliprs2005
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./Safar-Ticket-Backend/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-pAliprs2005"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  backend:
    build: ./Safar-Ticket-Backend
    working_dir: /code
    command: >
      sh -c "python SafarTicket/manage.py migrate && python SafarTicket/manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./Safar-Ticket-Backend:/code
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    dns:
      - 8.8.8.8
      - 1.1.1.1
    environment:
      - DJANGO_SETTINGS_MODULE=SafarTicket.settings
      - JWT_SECRET_KEY=jsd8@wF8#Lxq2kPmZ3!vQ1eL*Gd94Tpw
      - SECRET_KEY=some-very-secret-key
      - EMAIL_USER=safarticket00@gmail.com
      - EMAIL_PASS=jgtivimugkolefyi
      - DB_NAME=safarticket
      - DB_USER=root
      - DB_PASSWORD=Aliprs2005
      - DB_HOST=db
      - DB_PORT=3306

  cron:
    build: ./Safar-Ticket-Backend
    working_dir: /code
    command: >
      sh -c "crontab SafarTicket/cron/cronjob && cron -f"
    volumes:
      - ./Safar-Ticket-Backend:/code
    depends_on:
      - db
      - backend
    environment:
      - DJANGO_SETTINGS_MODULE=SafarTicket.settings
      - DB_NAME=safarticket
      - DB_USER=root
      - DB_PASSWORD=Aliprs2005
      - DB_HOST=db
      - DB_PORT=3306

  frontend:
    build: ./Safar-Ticket-Frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    environment:
      - REACT_APP_API_URL=http://localhost:8000
    dns:
      - 8.8.8.8
      - 1.1.1.1

volumes:
  db_data:
